#matchesDiv {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.matchIndividual {
  width: 60%;
  margin-top: 2%;
  background-color: transparent;
  border-color: white;
}
.matchPicture {
  width: 250px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}
.matchName {
  font-family: "Abel";
  text-align: center;
  font-size: xx-large;
}
.matchAbout {
  font-weight: lighter;
  font-size: large;
}
#companyWebsite {
  text-decoration: none;
  color: white;
}
#companyWebsite:hover {
  opacity: 70%;
}
.endMatch {
  cursor: pointer;
}
.endMatch:hover {
  opacity: 70%;
}
.matchHeader {
  width: 100%;
  display: flex;
  justify-content: right;
}
#messageButtonDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
#messageButton {
  width: 40%;
}
.App {
  width: 100vw;
  height: 90vh;
}
.sendbird-image-renderer__image {
  cursor: auto;
}
