.loginDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Abel";
}
#loginMessage{
    font-size: xxx-large;
}
#imageDiv{
    justify-content: center;
}
#signupOption{
    text-align: center;
}
#multipleItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
}