.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Abel";
}
#loginMessage {
  font-size: xxx-large;
}
#imageDiv {
  justify-content: center;
}
#signupOption {
  text-align: center;
}
#multipleItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#fbButton {
  margin-bottom: 20px;
  width: 100%;
}
.facebook-button {
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgba(6, 108, 217, 0.947);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 20%;
}
.facebook-button:hover {
  opacity: 70%;
}
i {
  display: none;
}
