#editProfile {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}
#verticalColumns {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 2%;
}
#editProfileImages {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  width: 100%;
  overflow: scroll;
  align-items: center;
  margin-bottom: 90px;
  overflow: scroll;
}
#editProfileParameters {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 900px;
  overflow: scroll;
  margin-bottom: 70px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.parameterGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
  overflow: scroll;
}
#editProfileHeader {
  margin-top: 2%;
  margin-bottom: 2%;
}
.abelFont {
  font-family: "Abel";
  color: purple;
}
.whiteAbel {
  color: white;
}
#actionButtons {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  gap: 3%;
  margin-bottom: 1%;
  margin-top: 4%;
}
#returnResult {
  margin-bottom: 1%;
}
.editProfileButton {
  width: 300px;
  height: 50px;
}
.attributeSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 5px;
  margin-bottom: 5%;
}
.textInput {
  text-align: center;
  background-color: transparent;
  color: purple;
  border: 1px solid purple;
}
#aboutChange {
  width: 400px;
  height: 150px;
  background-color: transparent;
  color: purple;
  border: 1px solid purple;
}
#resumeChange {
  background-color: transparent;
  color: purple;
}
#currentResume {
  margin-top: 2%;
  text-decoration: none;
  justify-content: left;
  color: purple;
  font-family: "Abel";
}
#currentResume:hover {
  opacity: 70%;
}
#experienceChange {
  width: 150px;
  background-color: transparent;
}
#newSector {
  width: 50%;
  color: purple;
}
::placeholder {
  color: purple;
}
.interestDiv {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.chosenInterest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  color: purple;
}
.chosenInterestBox {
  border: 1px solid purple;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  max-width: 300px;
  overflow: scroll;
  flex: 1 0 25%;
  margin-right: 2%;
  cursor: pointer;
}
.chosenInterestBox:hover {
  color: white;
  background-color: rgb(235, 67, 67);
}
.addIcon {
  color: white;
  border-radius: 20%;
  cursor: pointer;
}
.addIcon:hover {
  opacity: 70%;
}
#ageChange {
  width: 150px;
  text-align: center;
}
.picPreview {
  width: 200px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 5%;
}
#profilePicPreview{
  width:500px;
  height:600px;
  border: 5px solid white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}
img {
  color: white;
}
input {
  color: white;
}
.addImageInput{
  color:purple
}
#profileImageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  margin-bottom: 50px;
}

#resumeActions {
  display: grid;
  grid-template-columns: auto auto;
  overflow: scroll;
}
#resumeAlign{
  display: flex;
  flex-direction: row;
  gap:20px;
}
#interestFlex{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  overflow: scroll;
}
.interestGrid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  overflow: scroll;
}
#buttonSelection{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.othersHeader{
  margin-bottom: 30px;
}
.imageContainer{
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  padding: 20px;
}