#editProfile {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#horizontalColumns {
  display: flex;
  flex-direction: row;
  width: 100vw;
  gap: 2%;
  height: 60vh;
}
#editProfileImages {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 50%;
  overflow: scroll;
  align-items: center;
}
#editProfileParameters {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  overflow: scroll;
}
#editProfileHeader {
  margin-top: 2%;
  margin-bottom: 2%;
}
.abelFont {
  font-family: "Abel";
  color: white;
}
#actionButtons {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  gap: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
}
#saveStatus {
  margin-bottom: 1%;
}
.editProfileButton {
  width: 300px;
  height: 50px;
}
.attributeSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 20px;
  margin-bottom: 3%;
}
.textInput {
  text-align: center;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#aboutChange {
  width: 250px;
  height: 100px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#resumeChange {
  background-color: transparent;
  color: white;
}
#ageChange {
  width: 10%;
  text-align: center;
}
.picPreview {
  width: 400px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 5%;
}
img {
  color: white;
}
input {
  color: white;
}
