.swipingGeneral {
  margin-top: 2%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipingProfile {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5%;
  max-width: 500px;
  width:80%;
  padding: 25px;
}
.swipingBasic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#swipingImage {
  border: 2px solid white;
  margin-left: 5%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#matchingResponse {
  padding-top: 15px;
  padding-bottom: 5px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  width: 180px;
  height: 100%;
  font-size: large;
}

.profileIntro {
  text-align: left;
  font-size: medium;
  font-weight: lighter;
}

#profileSector {
  font-family: "Abel";
}
h1,
h2 {
  font-family: "Abel";
}
.externals {
  font-family: "Abel";
  text-align: left;
  font-size: large;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin-top: 4%;
  justify-content: center;
}

.qualification {
  text-decoration: none;
  color: white;
}

.qualification:hover {
  opacity: 80%;
  color: grey;
}

.pictureHorizontal {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.workPictures {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.workPicture {
  width: 130px;
  height: 130px;
  border-radius: 30%;
}
@media(max-width:600px){
  .workPicture{
    width:80px;
    height: 80px;
  }
}
.buttonChoice {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

#profileSector {
  font-weight: bold;
  font-size: large;
}
